### IDEA ##
*.idea

### Terraform ###
# Local .terraform directories
**/.terraform/*

# .tfstate files
**/*.tfstate
**/.tfstate.*

# .lock.hcl files
**/*.lock.hcl

# Crash log files
crash.log

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json
